.overlay{
    position: relative;
}

.slide-item{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
    height: 100vh;
    min-width: 760px;
}


.slide-item.overlay:before{
     top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    content: "";
    position: absolute;
    background: rgba(0, 0, 0, 0.2);
}

.horarios{
    z-index: 3 !important;
    position: fixed;
}

input{
    padding: 0.8rem 0.8rem;
    width: 80%;
}

.active{
    color: #fff !important;
}

button{
    width: 100%;
}