<mat-dialog-content>
  <div class="card text-center">
    <div class="card-header">
      <img src="../../../assets/imagenes/doc-7.jpg" width="120px" height="120px">
    </div>
    <div class="card-body">
      <h5 class="card-title">Rodrigo Disconsi</h5>
      <p class="card-text">Dolor en la muela de juicio.</p>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <mat-divider></mat-divider>
      <br>
      <form [formGroup]="form">
        <h4>
          Campos génericos
        </h4>
        <div formArrayName="camposGen">
          <div *ngFor="let campo of camposGen.controls; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <mat-label>{{campo.value.nombre}}</mat-label>
              <input matInput formControlName="desc" class="form-control">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="agregarCampoGen" class="form-group">
          <div class="input-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-text">
                  <input type="checkbox" [(ngModel)]="otroCampo" [ngModelOptions]="{standalone: true}" (change)="onChange()">
                </div>
                <input disabled formControlName="nuevoCampo" class="form-control" type="text" placeholder="Otra especialidad...">
              </div>
           </div>
           <button *ngIf="otroCampo" mat-button color="primary" (click)="anadirCampoGen()">Añadir</button>
        </div>
        <hr>
        <h4>
          Campos de especialidad
        </h4>
        <div *ngIf="agregoCamposEsp" formArrayName="camposEsp">
          <div *ngFor="let campo of camposEsp.controls; let i = index;" [formGroupName]="i">
            <mat-form-field>
              <mat-label>{{campo.value.nombre}}</mat-label>
              <input matInput formControlName="desc" class="form-control">
            </mat-form-field>
          </div>
        </div>
        <div *ngIf="!limiteDeCampos" class="form-group">
          <div class="input-group mb-3">
              <div class="input-group input-group-alternative">
                <div class="input-group-text">
                  <input type="checkbox" [(ngModel)]="otroCampoEsp" [ngModelOptions]="{standalone: true}" (change)="onChangeEsp()">
                </div>
                <input disabled formControlName="nuevoCampoEsp" class="form-control" type="text" placeholder="Otra especialidad...">
              </div>
           </div>
           <button *ngIf="otroCampoEsp" mat-button color="primary" (click)="anadirCamposEsp()">Añadir</button>
        </div>
      </form>
    </div>
    <div class="card-footer text-muted">
      <button [disabled]="form.invalid" mat-flat-button color="primary">Guardar</button>
    </div>
  </div>
</mat-dialog-content>