    <section class="section section-shaped">
      <div class="shape shape-style-1 bg-gradient-default">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="loading" *ngIf="cargando">
        <mat-spinner></mat-spinner>
      </div>
      <div class="registro">
        <app-paciente *ngIf="tipoUsuario == 'paciente'"></app-paciente>
        <app-profesional *ngIf="tipoUsuario == 'profesional'"></app-profesional>
        <app-administrador *ngIf="tipoUsuario == 'admin'"></app-administrador>
      </div>
    </section>