.btn-hidden-password:hover{
    cursor: pointer;
}

/* .cont{
    display: flex;
    justify-content: center;
    margin-bottom: 1vh;
} */

.loading{
    position: fixed;
    z-index: 99 !important;
    top: 35%;
}

/* .login{
    margin-top: -5vh;
    height: 100%;
} */

section{
    height: 100%;
}